
.imagen {
    width: auto;
    height: 120px;
}

.tarjeta {
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.mainBox {

    border: solid 1px #bebebe;

}

.caja {
    border: solid 1px #bebebe;
}

.cantidad {
    transform: translateY(-14px);
}